<h1 class=" flex justify-center items-center pt-20 box-border">
    <span class="text-3xl flex justify-center items-center rounded-full w-12 h-12 bg-indigo-500">1</span>
    <span class="text-4xl pl-3">Choose your exercises</span>
</h1>
<ul class="flex flex-wrap mt-12 text-lg justify-between">
    <li 
        *ngFor="let exo of apiExercises"
        class="cursor-pointer bg-indigo-500 rounded-lg text-center p-8 box-border mx-2 mb-4 flex-1 whitespace-nowrap">
        
        <div >{{ exo.name }}
        <figure *ngFor="let thumbnail of apiThumbnails"  >
            <img *ngIf="exo.exercise_base === thumbnail.exercise_base" src="{{ thumbnail.image }}" alt="" class="block max-w-full bg-white rounded-lg h-full p-3  ">
        </figure>
    </div>
    </li>
</ul>
<div class="flex flex-wrap mt-12 justify-between w-full ">
    <!-- <figure *ngFor="let thumbnail of apiThumbnails"  class="w-1/6 h-32 overflow-hidden p-3 box-border m-1">
        <img src="{{ thumbnail.image }}" alt="" class="block max-w-full bg-white rounded-lg h-full p-3  ">
    </figure>
     -->
</div>
<ul >
    <li *ngFor="let id of exercisesBaseIds">{{ id }}</li>
</ul>